---
export interface Props {
  slug?: string;
  title?: string;
  excerpt?: string;
  link?: string;
  tags: string[];
}
const { slug = '', excerpt = '', title = '', link = null, tags, ...props } = Astro.props;

// console.log(props.tags);
---

<a href={link || `/posts/${slug}`} class='card padding flex column gap'>
  <h3 class='card-title font-size--xl'>{title}</h3>
  <!-- <p>{tags.map((tag) => { return (<span>{tag}, </span>)})}</p> -->
  <!-- <div>
    {tags && tags.length > 0 && tags.map((t) => <a href={`/tag/${t}`}>{t}</a>)}
  </div> -->
  <p class='excerpt'>{excerpt}</p>
</a>

<style lang='scss'>
  .excerpt {
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }
</style>
