---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

export interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title = "راهنمای مسیر شغلی", description, image = '/placeholder-social.jpg' } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title} | ۱۰۰۰۰روز</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:lang" content="fa" />
<meta property="og:locale" content="fa" />
<meta property="og:site_name" content="۱۰۰۰۰روز" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />


 <!-- {process.env.NEXT_PUBLIC_ENV !== 'production' && (
            <>
              <meta name="googlebot" content="noindex" />
              <meta name="robots" content="noindex" />
              <meta name="robots" content="nofollow" />
            </>
          )} -->
          <meta name="theme-color" content="#000000" />
           <!-- <link rel="manifest" href="/manifest.json" /> -->
          <link rel="icon" href="/favicon.png" sizes="any" />
          <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
            <!-- Essential META Tags  -->
          <meta property="og:title" content="۱۰۰۰۰روز | راهنمای مسیر شغلی" />
          <meta property="og:type" content="website" />
           <!-- <meta
            property='og:image'
            content=''
          />  -->
          <meta property="og:url" content="https://10000rooz.com" />
          <meta name="twitter:card" content="summary_large_image" />

           <!-- Non-Essential Meta Tags, But Recommended  -->
          <meta property="og:description" content="راهنمای مسیر شغلی" />
          <meta property="og:site_name" content="10000rooz" />
          <meta name="twitter:image:alt" content="۱۰۰۰۰روز | راهنمای مسیر شغلی" />

           <!-- TO SHOW LARGE THUMBNAILS IN GOOGLE RESULTS  -->
          <meta
            name="robots"
            content="max-snippet:20, max-image-preview:large"
          />
          <meta name="description" content="وبسایت ۱۰۰۰۰روز" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
     
  <script
        defer
        src="https://www.googletagmanager.com/gtag/js?id=G-PYZKQQGW8Z"
      />
      <script
        id="gtag-init"
        defer>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-PYZKQQGW8Z', {
            page_path: window.location.pathname,
          });
      </script>

      <slot />