---
import type { CollectionEntry } from 'astro:content';
// import FormattedDate from '../components/FormattedDate.astro';
import GlobalLayout from './GlobalLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, readingTime,  pubDate, updatedDate, heroImage , categories } = Astro.props;
---
<GlobalLayout  title={title} description={description} >

	<div class="rtl max-width--article padding--page layout-stack-all">
        <h1>{title}</h1>
        <p class="fa-num">
          زمان خواندن:
          {' '}
          {Math.floor(readingTime.minutes)}
          {' '}
          دقیقه
        </p>
        <p>
          دسته‌بندی:
          {' '}
          {categories && post.categories.length > 0 && categories.map((cat) => { return cat; })}
        </p>
        <!-- <MDXContent /> -->
				<slot />

      </div>
			<!-- <article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<hr />
			</article> -->
	</GlobalLayout>


		<!-- <style is:global>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style> -->